<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKey
					  =b77a5c561934e089" >
            <section name="Google_Drive_Organizer_V3.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
    <userSettings>
        <Google_Drive_Organizer_V3.Properties.Settings>
            <setting name="EXIF_Height" serializeAs="String">
                <value>175</value>
            </setting>
            <setting name="EXIF_Width" serializeAs="String">
                <value>200</value>
            </setting>
        </Google_Drive_Organizer_V3.Properties.Settings>
    </userSettings>
</configuration>